.creditos{
	position:fixed;
	bottom: 5;
	left: 1vw;
	/*width: 300px;*/
	font-family: arial;
	color:#859AF5;
	font-size:11px;
	text-shadow: 0 0 1px #1FDCF2, 0 0 1px blue; 
}

.dataTables_wrapper .dataTables_filter  {
  width:100%;
  text-align:center;
  
}
